# Parte 3: Começando as análises

In [14]:
# Carregue o arquivo `winequality_edited.csv`
import pandas as pd
import numpy as np

df = pd.read_csv('winequality_edited.csv')
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

### Será que o tipo de vinho está associado a uma qualidade superior?

In [54]:
# Encontre a qualidade média de cada tipo de vinho (tinto e branco) com groupby
df.groupby('color').mean()['quality']

color
red      5.636023
white    5.877909
Name: quality, dtype: float64

### Qual o nível de acidez que recebe a maior avaliação média?

In [55]:
# Observe os seguintes valores de pH com Pandas describe: min, 25%, 50%, 75% e max
lista = df["pH"].describe()
print(lista)

count    6497.000000
mean        3.218501
std         0.160787
min         2.720000
25%         3.110000
50%         3.210000
75%         3.320000
max         4.010000
Name: pH, dtype: float64

In [52]:
# Bordas dos intervalos que serão usados para dividir os dados em grupos
bin_edges = [lista['min'] ,lista['25%'] ,lista['50%'] ,lista['75%'] ,lista['max']] # Preencha esta lista com os cinco valores que você acabou de encontrar
print(bin_edges)

[2.7200000000000002, 3.1099999999999999, 3.21, 3.3199999999999998, 4.0099999999999998]

In [56]:
# Rótulos para os quadro grupos de nível de acidez
bin_names = ['Alto','Moderadamente Alto','Medio','Baixo'] # Nomeie cada categoria de nível de acidez

In [57]:
# Cria a coluna acidity_levels
df['acidity_levels'] = pd.cut(df['pH'], bin_edges, labels=bin_names)

# Verifica se esta coluna foi criada corretamente
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color,acidity_levels
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,Baixo
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red,Moderadamente Alto
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red,Medio
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red,Moderadamente Alto
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,Baixo

In [58]:
# Encontre a qualidade média de cada nível de acidez com groupby
df.groupby(["acidity_levels"]).mean()["quality"]

acidity_levels
Alto                  5.783343
Moderadamente Alto    5.784540
Medio                 5.850832
Baixo                 5.859593
Name: quality, dtype: float64

In [60]:
# Salve alterações para a próxima seção
df.to_csv('winequality_edited.csv', index=False)